@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  margin: 0px -20px 30px -20px;
}

nav,
nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul,
nav .wrapper {
  width: 33%;
}

nav ul:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .wrapper {
  text-align: center;
}

nav ul:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav #logo {
  width: 20%;
}

nav li {
  text-transform: uppercase;
  padding: 20px;
}

body {
  padding: 20px 50px;
  font-family: 'Libre Bodoni', serif;
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.article-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  width: 100%;
  margin-bottom: 50px;
}

.article-block__poster,
.article-block__content {
  width: 50%;
}

.article-block__poster {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-block:nth-child(1) .article-block__poster {
  background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/Like_French_-_Blog_Photo-3_960x960_crop_center.jpg?v=1635790977");
}

.article-block:nth-child(2) .article-block__poster {
  background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/PAINTBOX-UES_0027_copy_960x960_crop_center.jpg?v=1628778916");
}

.article-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAF7F6;
  color: rgba(0, 0, 0, 0.5);
}

.article-block__content > h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 10px;
}

.article-block__content > p {
  width: 55%;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 55px;
}

.article-block__content > button {
  padding: 18px 45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.article-block__content > button:hover {
  background-color: #414141;
  color: white;
}

.article-block__content > button:hover::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  margin-left: 10px;
  position: absolute;
  -webkit-animation: movearrow 0.5s ease-in-out forwards, arrowbounce 0.5s ease-in-out 0.5s infinite alternate;
          animation: movearrow 0.5s ease-in-out forwards, arrowbounce 0.5s ease-in-out 0.5s infinite alternate;
}

@-webkit-keyframes movearrow {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 75%;
  }
}

@keyframes movearrow {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 75%;
  }
}

@-webkit-keyframes arrowbounce {
  0% {
    left: 75%;
  }
  100% {
    left: 79%;
  }
}

@keyframes arrowbounce {
  0% {
    left: 75%;
  }
  100% {
    left: 79%;
  }
}

.photogrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (300px)[4];
      grid-template-rows: repeat(4, 300px);
  height: 1000px;
}

.photogrid-content {
  background-color: #FAF7F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  font-size: 20px;
}

.photogrid-photo {
  background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/articles/blog-3_5b30676e-e2f6-47f1-862c-ec85ef0a0c2b_1280x805_crop_center.jpg?v=1649444705");
}
/*# sourceMappingURL=style.css.map */